

@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


* {
    box-sizing: border-box;
}

@theme {
    --color-prim: #85d200;
    --color-secondary: #066168;
    --color-yellow: #FFAA0D;
    --color-yellow-light: #fef9eb;

    /* font family  */
    --font-poppins: "Poppins", sans-serif;
    --font-afacad: "Afacad", sans-serif;
    --font-figtree: "Figtree", sans-serif;
    --font-kaushan: "Kaushan Script", cursive;
}

body {
    font-family: var(--font-poppins);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-afacad);
}

p,
a {
    font-family: var(--font-figtree);
}